@import url("bootstrap");

:root {
  --navbar-border: rgba(0, 0, 0, 0.16);
}

header {

  #nav-item {
    border-left: 1px solid var(--navbar-border);
    border-right: 1px solid var(--navbar-border);
  }
}