@import url("bootstrap");

:root {
  --navbar-border: rgba(0, 0, 0, 0.357);
  --navbar-active: purple;
}

header {

  #nav-item {
    color: black;
    border-left: 1px solid var(--navbar-border);
    border-right: 1px solid var(--navbar-border);

    &.active {
      color: var(--navbar-active);
    }

  }
}

.card-subtitle {
  text-align: end;
  opacity: 80%;
}

.card-img {
  width: 100%;
  aspect-ratio: 4/5;
  object-fit: contain;
  object-position: center;
}

.card-footer {
  text-align: end;
}